.login-container {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}



.login-form {
  display: flex;
  margin-inline: auto;
  flex-direction: column;
  max-width: 22rem;
}

.login-fields {
  border: none;
  margin-left: 0.5rem;
  width: 20rem;
}

.login-fields:focus{
    outline: none;
}

.field-labels {
  border-bottom: 1px solid var(--clr-primary-300);
  padding: 0.25rem 0 0.25rem 0;
  display: flex;
  align-items: flex-end;
  margin-bottom: 1.5rem;
}

.field-labels:last-of-type{
    margin-bottom: 1rem;
}

.login-buttons{
    margin-top: 0.5rem;
}

@media(min-width: 50em){
    .login-container {
        margin-top: 8rem;
      }
      
}