.card{
    width: 16.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
}

.label{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image-container{
    width: 12rem;
    height: 15rem;
    margin-inline: auto;
}

.image-container img{
    max-width: 100%;
    height: 100%;
    margin-inline: auto;
}

.card-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    /* width: 14.5rem; */
}

.card-rating{
    display: flex;
    align-items: center;
    gap: 5px;
}

.rating-star{
    display: inline;
}

.product-name{
    text-align: center;
}

.product-button{
    align-self: center;
}