.products-container{
    margin-top: 6rem;

}

.section-header h1{
  text-align: center;
  color: hsla(44, 14%, 15%, 0.75);

}

.section-header-filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
  }

  .all-products{
    margin-right: 0.5rem;
    accent-color: var(--clr-primary-300);
    width: 1rem;
    height: 1rem;
  }

  .filters-button{
    display: flex;
    gap: 0.5rem;
    padding-inline: 1rem;
  }


.product-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2.5rem;
    margin-inline: auto;
    margin-top: 2.5rem;
}

@media(min-width: 50em){

    .products-container{
        margin-top: 8rem;
    }

    .section-header h1{
      font-size: 2.5rem;
    }
    
}

