
  
  .searchInput {
    border-bottom: 1px solid var(--clr-primary-300);
    padding: 0.25rem 0 0.25rem 0;
    display: flex;
    align-items: flex-end;
  
  }
  
  .search{
    border: none;
    margin-left: 0.5rem;
    width: 20rem;
  }
  
  .search:focus {
    outline: none;
  
  }
  
  .search:focus + .cancel-search{
    display: block;
  }
  
  .cancel-search{
    display: hidden;
  }

