.cartItems{
    list-style: none;
    max-width: 34rem;
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.cartItem-image-container{
    max-width: 16rem;
    height: 10rem;
    display: flex;
    align-items: center;
    
}

.cartItem-image{
    max-width: 100%;
    max-height: 100%;
    margin-inline: auto;

}

.cartItem-detail-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
}

.quantity-area{
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 1rem;
    
}

.quantity-icons{
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid var(--clr-primary-300);
}

.cartItem-button{
    padding-inline: 1rem;
    align-self: flex-start;
    font-weight: var(--fw-regular);
    background-color: var(--clr-neutral-400);
}

.cartItem-button:hover{
    color: var(--clr-accent-red);
    border: 1px solid var(--clr-accent-red);
}

@media(min-width: 50em){

    .cartItems{
        padding: 1rem;
    }

    .cartItem-image-container{
        max-width: 16rem;
        height: 12.5rem;
        padding: 0.5rem;
    }

    .cartItem-detail-container{
        padding: 0.5rem;
    }
}


