.nav-bar{
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-container {
  --max-width: 1280px;
  --padding: 1rem;

  width: min(var(--max-width), 100% - (var(--padding) * 2));
  margin-inline: auto;
  padding: 1rem 0 1rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-container {
  width: 5rem;
  height: 1.5rem;
}

.search-form {
  display: none;
}

.links-container {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.icon-with-count{
  display: flex;
  position: relative;
  cursor: context-menu;
}

.nav-icons {
  width: 1.5rem;
  height: 1.5rem;
}

.mobile-search {
  display: block;
}

@media (min-width: 50em) {
  .logo-container {
    width: 10rem;
    height: 3rem;
  }

  .search-form {
    display: block;
    position: relative;
  }

  /* .search-results{
    position: absolute;
  } */


  .links-container {
    gap: 2.5rem;
  }

  .nav-icons {
    width: 2rem;
    height: 2rem;
  }

  .mobile-search {
    display: none;
  }
}
