.hero-section {
  margin-top: 6rem;
  margin-bottom: 2rem;
  text-align: center;
}

.hero-heading {
  color: var(--clr-primary-400);
  max-width: 85%;
  font-family: var(--ff-accent);
  font-size: 2rem;
  margin-inline: auto;
  line-height: 130%;
  margin-bottom: 1rem;
}

.hero-text {
  margin-top: 1.5rem;
  margin-inline: auto;
}

.categories {
  text-align: center;
  margin-top: 3rem;
}

.shop-category{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.category-image{
  width: 14rem;
  height: 14rem;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  object-fit: cover;
}

.category-container{
  padding: 1rem;
}

@media (min-width: 50em) {
  .hero-heading {
    font-size: 4rem;
    max-width: 50%;
    margin-bottom: 2.5rem;
  }

  .hero-text {
    max-width: 50rem;
  }

  .shop-now{
    transition: all 0.5s ease-in-out;
  }

  .shop-now:hover{
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  }

  .categories {
    margin-top: 4rem;
  }

  .shop-category{
    padding: 1rem;
  }

  .category-image{
    width: 18rem;
    height: 18rem;
    margin-bottom: 1rem;
    transition: all 0.5s ease-in-out;
  }

  .category-image:hover{
    transform: scale(1.1);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  }
}
