.detail-container{
    margin-top: 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.imageContainer{
    width: 25rem;
    height: 25rem;
    background-color: var(--clr-neutral-400);

}



.productImage{
    max-width: 100%;
    height: 100%;
    margin-inline: auto;
}

.details{
    width: 32rem;
}

.stockCheck{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.line{
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    background-color: var(--clr-primary-400);
    width: 100%;
    height: 1px;
    margin-inline: auto;
}

.detail-headings{
    margin-bottom: 0.5rem;
}

.info{
    margin-bottom: 1rem;
}

.detail-buttons{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}


@media(min-width: 50em){
    .detail-container{
       margin-top: 7rem;
       gap: 0;
    }

    .imageContainer{
        width: 30rem;
        height: 30rem;
        background-color: var(--clr-neutral-400);
    
    }

    .detail-buttons{
        align-items: center;
        flex-direction: row;
        gap: 1.5rem;
        
    }
    
}

