.checkout-container {
  margin-top: 6rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}

.address-section {
  max-width: 30rem;
}

.address-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
}

.select-address {
  cursor: pointer;
  text-decoration: underline;
}

/* .address-container{
    
} */

.addresses {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 0.5rem;
  border-bottom: 1px solid var(--clr-primary-400);
  margin-bottom: 1rem;
  padding: 1rem;
  cursor: context-menu;
}

.add-new {
  display: flex;
  cursor: pointer;
  gap: 1rem;
}

.edit-delete-container{
  display: flex;
  gap: 1rem;
}

.edit-delete {
  margin-top: 1rem;
  cursor: pointer;
  text-decoration: underline;
}

.edit-address:hover{
  color: #551A8B;
}

.delete-address:hover {
  color: var(--clr-accent-red);
}

.hide-addAddress {
  align-self: flex-end;
}

.addressSelected {
  border: 1px solid var(--clr-primary-400);
  padding: 1rem;
  margin-top: 2rem;
}

.no-address {
    color: var(--clr-accent-red);
    text-align: center;
    margin-top: 1.5rem;
  }

.order-detail-section {
  max-width: 30rem;
  border: 1px solid var(--clr-primary-400);
  padding: 0.5rem;
  margin-bottom: auto;
}

.order-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.order-details {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  padding: 0.5rem;
}

.fd-instruction {
  padding-inline: 0.5rem;
  margin-bottom: 0.5rem;
}

.final-price {
  margin-bottom: 1rem;
}

@media (min-width: 50em) {
  .checkout-container {
    margin-top: 8rem;
    gap: 0;
  }

  .address-section-header {
    gap: 5rem;
  }

  .order-detail-section {
    padding: 1rem;
  }
}
