.checkout-container{
    margin-top: 8rem;
}

.address-section{
    max-width: 30rem;
}

.address-section-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}


.select-address{
    color: #551A8B;
    cursor: pointer;
}

/* .address-container{
    
} */

.addresses{
    display: flex;
    align-items: center;
    gap: 2rem;
    padding: 0.5rem;
    border-bottom: 1px solid var(--clr-primary-400);
    margin-bottom: 1rem;
    padding: 1rem;
}

.add-new{
    display: flex;
    cursor: pointer;
    gap: 1rem;
    margin-bottom: 1rem;
}


.delete-address{
    margin-top: 1rem;
    cursor: pointer;
    text-decoration: underline;
}

.delete-address:hover{
    color: var(--clr-accent-red);
}

.hide-addAddress{
    align-self: flex-end;
}